html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#head {
    height: 5%;
    min-height: 80px;
    width: 100%;
    background-color: #CCC;
    border-bottom: 1px solid black;
}

#wrapper {
    height:90%;
    width: 100%;
}

#footer {
    height: 50px;
    width: 100%;
    background-color:#ccc;
    border-top: 1px solid black;
}

#links {height: 100%;
        background-color: #CCCCCC;
        width: 50px;
        float: left;
        border-right:1px solid black;
}

#rechts {height: 100%;
         background-color: #CCCCCC;
         width: 50px;
         float: right;
         border-left:1px solid black;
}
#tabs {
        //height: 14px;
        width:auto;
        margin-top: 4px;
        margin-left: 5px;
        margin-right: 5px;
        background-color: #ccc;
}

#tabs ul {
    border: 1px solid #222;
    border-bottom: 0px;
    background-color: #ccc;
    border-radius: 4px;
    margin: 0;
    margin-top: 5px;
    padding: 2px;
    list-style-type: none;
    //height: 14px;
}

#tabs ul li {
    display: inline-block;
    border: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #222;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 7px;
}

#tabs ul li a img {
    height: 16px;
    width: 16px;
    //margin-left: 10px;
    //display:none;
}

.file {
    display: none;
}

#openProjectList  .ui-selecting { background: #FECA40; }
#openProjectList  .ui-selected { background: #F39814; color: white; }
#openProjectList  { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#openProjectList  li { margin: 3px; padding: 0.4em; font-size: 1.0em; height: 18px; }

